.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 20px 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.title {
  color: var(--primary-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 10px;
}

.search {
  width: 100%;
  max-width: 1024px;
}
