.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.wrapper-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
}

.checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid var(--border);
}

.checkbox.active {
  background: var(--primary-color);
  box-shadow: 0 0 0 1px var(--primary-color);
}

.label {
  color: var(--secondary-text-light);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-left: 10px;
}
